@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cinzel:wght@500&family=Dosis:wght@200&family=Josefin+Sans&family=Lato&family=Montserrat:wght@300&family=Noto+Serif+Devanagari:wght@100&family=Nunito&family=Open+Sans&family=Quicksand:wght@300&family=Raleway:wght@300&family=Roboto:wght@300&family=Rubik:wght@300;400&family=Ubuntu:ital,wght@1,300&display=swap');

* {
    /* box-sizing: border-box; */
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito', serif;
}



.App {
    background: url("bg-image.jpg") no-repeat center center/cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;


}

.cityName h1{
    font-size: 3rem;
}

.tempData .temp {
    font-size: 7rem;
}

.tempUnit p {
    font-size: 30px;
}









.weatherDetailsContainer {
   
    background-color: rgba(32, 22, 22, 0.6);
    
  
    border-radius: 10px;
    
}




.max-min {
    
    
  
    background-color: rgba(255, 255, 255, 0.2);
   
    
    border-radius: 8px;
   
}

.font-size-large {
    font-size: 1.5rem;
}

.font-size-small{
    font-size: 12px;
}
.forFooter{
    display: flex;
    flex-direction: column;

}

.footer {
    position: relative;
    bottom: 10px;
    width: 90%;
    font-size: 10px;
    padding: 10px;

    text-align: right;
}